/* =========================
   Global Reset
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   Base Styles
========================= */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* =========================
   Navbar Layout (Flexbox) Becomes a Flex container
========================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #222;
  border: 2px solid red;
}

/* Site Title - Becomes a flex Item*/
.logo {
  color: white;
  font-size: 1.5rem;
  border: 2px solid red;
}

/* Navigation Links - is a flex item within .navbar but is also a flex container for <li> elements */
.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  border: 2px solid red;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* =========================
   Main Content
========================= */
main {
  padding: 2rem;
  text-align: center;
  border: 2px solid red;
}

/* =========================
   Footer
========================= */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
  border: 2px solid red;
}
